In [1]:
# installs
# !pip install pandas
# !pip install sqlalchemy

In [2]:

# imports
import os
from sqlalchemy import create_engine
import pandas as pd
import numpy as np

In [3]:
# settings
os.system('cls')
os.system('color 6')

1

In [4]:
# conector
engine = create_engine(
    "mysql+pymysql://llpdigital:password@192.168.0.163:3306/virtualha")
os.system('cls')

df_localidades = pd.read_sql_query("SELECT * FROM localidades", engine)

In [5]:
# date type adjust
df_localidades = df_localidades.astype({"DATA_FUND": "datetime64[ns]"})
df_localidades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID_LOCAL            37 non-null     int64
 1   NOME                37 non-null     object
 2   ZONA                37 non-null     object
 3   POPULACAO           37 non-null     int64
 4   RESIDENCIAS_CONST   37 non-null     int64
 5   RESIDENCIAS_POS     37 non-null     int64
 6   TRABALHADORES_EFET  37 non-null     int64
 7   VAGAS_DISP          37 non-null     int64
 8   VIS_TUR             37 non-null     int64
 9   CRIANCAS            37 non-null     int64
 10  ADOLESC             37 non-null     int64
 11  JOVENS_ADUL         37 non-null     int64
 12  ADULTOS             37 non-null     int64
 13  IDOSOS              37 non-null     int64
 14  ATIV                37 non-null     object
 15  VALOR_MED_TERRENO   37 non-null     int64
 16  DATA_FUND           37 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int64(13), object(3)
memory usage: 5.0+ KB

In [ ]:
# exploration data frame