In [ ]:
# installs
# pip install pandas
# pip install numpy
# pip install sqlalchemy

In [3]:
# imports
import os
from sqlalchemy import create_engine
import pandas as pd
import numpy as np

In [4]:
# conector
engine = create_engine(
    "mysql+pymysql://llpdigital:password@192.168.0.166:3306/virtualha")
os.system('cls')

df_localidades = pd.read_sql_query("SELECT * FROM localidades", engine)

In [5]:
# date frame adjusts
df_localidades = df_localidades.astype({"DATA_FUND": "datetime64[ns]"})
df_localidades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID_LOCAL            37 non-null     int64
 1   NOME                37 non-null     object
 2   ZONA                37 non-null     object
 3   POPULACAO           37 non-null     int64
 4   RESIDENCIAS_CONST   37 non-null     int64
 5   RESIDENCIAS_POS     37 non-null     int64
 6   TRABALHADORES_EFET  37 non-null     int64
 7   VAGAS_DISP          37 non-null     int64
 8   VIS_TUR             37 non-null     int64
 9   CRIANCAS            37 non-null     int64
 10  ADOLESC             37 non-null     int64
 11  JOVENS_ADUL         37 non-null     int64
 12  ADULTOS             37 non-null     int64
 13  IDOSOS              37 non-null     int64
 14  ATIV                37 non-null     object
 15  VALOR_MED_TERRENO   37 non-null     int64
 16  DATA_FUND           37 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int64(13), object(3)
memory usage: 5.0+ KB

In [ ]:
# visual analises
#df_localidades.index
#df_localidades.columns
#df_localidades.axes
#df_localidades.shape
#df_localidades.size
#df_localidades.info()
#df_localidades.dtypes
#df_localidades.head(37+1)
#df_localidades.describe()

In [ ]:
# colums and lines
df_localidades["NOME"]

In [ ]:
# aqui faz a impress√£o da lin ou col desejada:
print()

In [13]:
# variables

nomes_localidades = df_localidades.NOME.unique()
total_localidades = df_localidades.ID_LOCAL.nunique()
nomes_zonas = df_localidades.ZONA.unique()
total_zonas = df_localidades.ZONA.nunique()
total_populacao = df_localidades.POPULACAO.sum()
total_residencias_const = df_localidades.RESIDENCIAS_CONST.sum()
total_residencias_pos = df_localidades.RESIDENCIAS_POS.sum()
total_trabalhadores_efet = df_localidades.TRABALHADORES_EFET.sum()
total_vagas_disp = df_localidades.VAGAS_DISP.sum()
saldo_trabalhista = (total_trabalhadores_efet - total_vagas_disp)
total_turistas = df_localidades.VIS_TUR.sum()
total_criancas = df_localidades.CRIANCAS.sum()
total_adolesc = df_localidades.ADOLESC.sum()
total_jovens_adul = df_localidades.JOVENS_ADUL.sum()
total_adult = df_localidades.ADULTOS.sum()
total_idosos = df_localidades.IDOSOS.sum()
tipos_ativ = df_localidades.ATIV.unique()
total_ativ = df_localidades.ATIV.nunique()
valor_med_terreno_geral = df_localidades.VALOR_MED_TERRENO.mean()

# teste da variavel:
total_localidades

37