In [ ]:
# instalacoes
#!pip install pandas
#!pip install numpy
#!pip install sqlalchemy

In [2]:
# importacoes
import os
from sqlalchemy import create_engine
import pandas as pd
import numpy as np

In [3]:
# conector
engine = create_engine(
    "mysql+pymysql://llpdigital:password@192.168.0.166:3306/virtualha")
os.system('cls')
df_localidades = pd.read_sql_query("SELECT * FROM localidades", engine)

In [4]:
# ajustes no dataframe
df_localidades = df_localidades.astype({"DATA_FUND": "datetime64[ns]"})
df_localidades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID_LOCAL            37 non-null     int64
 1   NOME                37 non-null     object
 2   ZONA                37 non-null     object
 3   POPULACAO           37 non-null     int64
 4   RESIDENCIAS_CONST   37 non-null     int64
 5   RESIDENCIAS_POS     37 non-null     int64
 6   TRABALHADORES_EFET  37 non-null     int64
 7   VAGAS_DISP          37 non-null     int64
 8   VIS_TUR             37 non-null     int64
 9   CRIANCAS            37 non-null     int64
 10  ADOLESC             37 non-null     int64
 11  JOVENS_ADUL         37 non-null     int64
 12  ADULTOS             37 non-null     int64
 13  IDOSOS              37 non-null     int64
 14  ATIV                37 non-null     object
 15  VALOR_MED_TERRENO   37 non-null     int64
 16  DATA_FUND           37 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int64(13), object(3)
memory usage: 5.0+ KB

In [5]:
# analises visuais
#df_localidades.index
#df_localidades.columns
#df_localidades.axes
#df_localidades.shape
#df_localidades.size
#df_localidades.info()
#df_localidades.dtypes
#df_localidades.head(37+1)
#df_localidades.describe()

In [6]:
# colunas e linhas

df_localidades["NOME"]

0                      CENTRO
1      COMPLEXO UNIVERSITÁRIO
2          COMPLEXO ESPORTIVO
3                POLO DIGITAL
4                   PINHEIROS
5                      BOSQUE
6                  MADEIREIRA
7     COMPLEXO ADMINISTRATIVO
8            JARDIM ZOOLÓGICO
9              UNIVERSITÁRIOS
10                    BAIXADA
11                  PRIMAVERA
12                 MATA VERDE
13                  ZONA RUAL
14                 PESCADORES
15                   HARMONIA
16         COMPLEXO SANITÁRIO
17                   PLANALTO
18                  FLORESTAL
19         COMPLEXO FABRIL II
20           LAGOA DAS PEDRAS
21       COMPLEXO FERROVIÁRIO
22     COMPLEXO AEROPORTUÁRIO
23         COMPLEXO PORTUÁRIO
24                PETROLÍFERA
25          COMPLEXO FABRIL I
26             COMPLEXO NAVAL
27          SÍTIO DO CARVALHO
28              INDUSTRIÁRIOS
29                 IMIGRANTES
30           CENTRO HISTÓRICO
31                 MINERADORA
32               PRAIA GRANDE
33              CAIS DO FORTE
34                  HOTELARIA
35                 MEIA PRAIA
36                 NAVEGANTES
Name: NOME, dtype: object

In [14]:
# variaveis

nomes_localidades = df_localidades.NOME.unique()
total_localidades = df_localidades.ID_LOCAL.nunique()
nomes_zonas = df_localidades.ZONA.unique()
total_zonas = df_localidades.ZONA.nunique()
total_populacao = df_localidades.POPULACAO.sum()
total_residencias_const = df_localidades.RESIDENCIAS_CONST.sum()
total_residencias_pos = df_localidades.RESIDENCIAS_POS.sum()
total_trabalhadores_efet = df_localidades.TRABALHADORES_EFET.sum()
total_vagas_disp = df_localidades.VAGAS_DISP.sum()
saldo_trabalhista = (total_trabalhadores_efet - total_vagas_disp)
total_turistas = df_localidades.VIS_TUR.sum()
total_criancas = df_localidades.CRIANCAS.sum()
total_adolesc = df_localidades.ADOLESC.sum()
total_jovens_adul = df_localidades.JOVENS_ADUL.sum()
total_adult = df_localidades.ADULTOS.sum()
total_idosos = df_localidades.IDOSOS.sum()
tipos_ativ = df_localidades.ATIV.unique()
total_ativ = df_localidades.ATIV.nunique()
valor_med_terreno_geral = df_localidades.VALOR_MED_TERRENO.mean()

In [24]:
# definicao dos dataframes
df_agrupamento_populacao = pd.DataFrame(df_localidades, columns=["NOME", "CRIANCAS", "ADOLESC", "JOVENS_ADUL", "ADULTOS", "IDOSOS"])
df_agrupamento_populacao

array(['MORADIA', 'EDUCACIONAL', 'LAZER', 'TECNOLOGIA', 'COMERCIAL',
       'AGRICULTURA', 'SERVIÇOS', 'SILVICULTURA', 'PETROLÍFERA',
       'MINERAÇÃO', 'TURISMO'], dtype=object)

In [27]:
df_atividades = pd.DataFrame(df_localidades.ATIV.value_counts())
df_atividades

              count
ATIV
MORADIA          18
SERVIÇOS          7
LAZER             4
EDUCACIONAL       1
TECNOLOGIA        1
COMERCIAL         1
AGRICULTURA       1
SILVICULTURA      1
PETROLÍFERA       1
MINERAÇÃO         1
TURISMO           1