In [5]:
# installs
# !pip install pandas
# !pip install sqlalchemy

In [6]:

# imports
import os
from sqlalchemy import create_engine
import pandas as pd
import numpy as np

In [7]:
# settings
os.system('cls')
os.system('color 6')

1

In [8]:
# conector
engine = create_engine(
    "mysql+pymysql://llpdigital:password@192.168.0.166:3306/virtualha")
os.system('cls')

df_localidades = pd.read_sql_query("SELECT * FROM localidades", engine)

In [9]:
# date type adjust
df_localidades = df_localidades.astype({"DATA_FUND": "datetime64[ns]"})
df_localidades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID_LOCAL            37 non-null     int64
 1   NOME                37 non-null     object
 2   ZONA                37 non-null     object
 3   POPULACAO           37 non-null     int64
 4   RESIDENCIAS_CONST   37 non-null     int64
 5   RESIDENCIAS_POS     37 non-null     int64
 6   TRABALHADORES_EFET  37 non-null     int64
 7   VAGAS_DISP          37 non-null     int64
 8   VIS_TUR             37 non-null     int64
 9   CRIANCAS            37 non-null     int64
 10  ADOLESC             37 non-null     int64
 11  JOVENS_ADUL         37 non-null     int64
 12  ADULTOS             37 non-null     int64
 13  IDOSOS              37 non-null     int64
 14  ATIV                37 non-null     object
 15  VALOR_MED_TERRENO   37 non-null     int64
 16  DATA_FUND           37 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int64(13), object(3)
memory usage: 5.0+ KB

In [10]:
# preview dataframe 
df_localidades.head(5)

,ID_LOCAL,NOME,ZONA,POPULACAO,RESIDENCIAS_CONST,RESIDENCIAS_POS,TRABALHADORES_EFET,VAGAS_DISP,VIS_TUR,CRIANCAS,ADOLESC,JOVENS_ADUL,ADULTOS,IDOSOS,ATIV,VALOR_MED_TERRENO,DATA_FUND
0,1,CENTRO,C,5640,1754,1633,2357,2586,72,352,862,1167,1472,1787,MORADIA,70,2022-07-26
1,2,COMPLEXO UNIVERSITÁRIO,C,0,0,0,1944,2627,102,0,0,0,0,0,EDUCACIONAL,28,2022-07-26
2,3,COMPLEXO ESPORTIVO,C,0,0,0,336,475,43,0,0,0,0,0,LAZER,27,2022-07-26
3,4,POLO DIGITAL,C,0,0,0,76,76,11,0,0,0,0,0,TECNOLOGIA,63,2022-07-26
4,5,PINHEIROS,C,10966,3157,3421,2747,2886,55,698,1421,2482,2965,3400,MORADIA,57,2022-07-26

A base de ados apresenta as seguintes características:

In [11]:
# exploration data frame

df_localidades.size
df_localidades.shape

"""
print("O dataframe apresenta um total de: ", (df_localidades.size), 
      " entradas de dados, distribuídas em:", (df_localidades.shape), "lin x col.")

print()
print(df_localidades.index)
print(df_localidades.columns)
print(df_localidades.axes)
print(df_localidades.dtypes)
print(df_localidades.info())
df_localidades.describe()
"""

'\nprint("O dataframe apresenta um total de: ", (df_localidades.size), \n      " entradas de dados, distribuídas em:", (df_localidades.shape), "lin x col.")\n\nprint()\nprint(df_localidades.index)\nprint(df_localidades.columns)\nprint(df_localidades.axes)\nprint(df_localidades.dtypes)\nprint(df_localidades.info())\ndf_localidades.describe()\n'

In [12]:
# access dataframe informations

df_localidades["NOME"]
df_localidades[["NOME", "POPULACAO", "ZONA", "ATIV"]]

# iloc = lin
df_localidades.iloc[:,1:3]
df_localidades.iloc[:,[1,2,3]]

# loc = col
df_localidades.loc[0:5]
df_localidades.loc[:,"NOME"]

0                      CENTRO
1      COMPLEXO UNIVERSITÁRIO
2          COMPLEXO ESPORTIVO
3                POLO DIGITAL
4                   PINHEIROS
5                      BOSQUE
6                  MADEIREIRA
7     COMPLEXO ADMINISTRATIVO
8            JARDIM ZOOLÓGICO
9              UNIVERSITÁRIOS
10                    BAIXADA
11                  PRIMAVERA
12                 MATA VERDE
13                  ZONA RUAL
14                 PESCADORES
15                   HARMONIA
16         COMPLEXO SANITÁRIO
17                   PLANALTO
18                  FLORESTAL
19         COMPLEXO FABRIL II
20           LAGOA DAS PEDRAS
21       COMPLEXO FERROVIÁRIO
22     COMPLEXO AEROPORTUÁRIO
23         COMPLEXO PORTUÁRIO
24                PETROLÍFERA
25          COMPLEXO FABRIL I
26             COMPLEXO NAVAL
27          SÍTIO DO CARVALHO
28              INDUSTRIÁRIOS
29                 IMIGRANTES
30           CENTRO HISTÓRICO
31                 MINERADORA
32               PRAIA GRANDE
33              CAIS DO FORTE
34                  HOTELARIA
35                 MEIA PRAIA
36                 NAVEGANTES
Name: NOME, dtype: object

In [13]:
# dataset count e artiarithmetics

df_localidades.POPULACAO.max()
df_localidades.POPULACAO.min()
df_localidades.POPULACAO.mean()
df_localidades.POPULACAO.median()

df_localidades.POPULACAO.value_counts()
df_localidades.ZONA.value_counts()

df_localidades.ZONA.value_counts(normalize=True, sort=True)

for coluna in df_localidades.columns :
    print(coluna, " ---------------- ",df_localidades[coluna].dtype)

ID_LOCAL  ----------------  int64
NOME  ----------------  object
ZONA  ----------------  object
POPULACAO  ----------------  int64
RESIDENCIAS_CONST  ----------------  int64
RESIDENCIAS_POS  ----------------  int64
TRABALHADORES_EFET  ----------------  int64
VAGAS_DISP  ----------------  int64
VIS_TUR  ----------------  int64
CRIANCAS  ----------------  int64
ADOLESC  ----------------  int64
JOVENS_ADUL  ----------------  int64
ADULTOS  ----------------  int64
IDOSOS  ----------------  int64
ATIV  ----------------  object
VALOR_MED_TERRENO  ----------------  int64
DATA_FUND  ----------------  datetime64[ns]

In [14]:
# colums 01

for coluna in df_localidades.columns :
    if df_localidades[coluna].dtype == object :
        print(coluna, df_localidades[coluna].dtype)

NOME object
ZONA object
ATIV object

In [15]:
# colums 02

for coluna in df_localidades.columns :
    if df_localidades[coluna].dtype == object :
        #print(coluna, df_localidades[coluna].dtype)
        print("--------", coluna,"--------")
        print(df_localidades[coluna].value_counts(normalize=True))
        print()

-------- NOME --------
NOME
CENTRO                     0.027027
COMPLEXO FABRIL II         0.027027
COMPLEXO FERROVIÁRIO       0.027027
COMPLEXO AEROPORTUÁRIO     0.027027
COMPLEXO PORTUÁRIO         0.027027
PETROLÍFERA                0.027027
COMPLEXO FABRIL I          0.027027
COMPLEXO NAVAL             0.027027
SÍTIO DO CARVALHO          0.027027
INDUSTRIÁRIOS              0.027027
IMIGRANTES                 0.027027
CENTRO HISTÓRICO           0.027027
MINERADORA                 0.027027
PRAIA GRANDE               0.027027
CAIS DO FORTE              0.027027
HOTELARIA                  0.027027
MEIA PRAIA                 0.027027
LAGOA DAS PEDRAS           0.027027
FLORESTAL                  0.027027
COMPLEXO UNIVERSITÁRIO     0.027027
PLANALTO                   0.027027
COMPLEXO ESPORTIVO         0.027027
POLO DIGITAL               0.027027
PINHEIROS                  0.027027
BOSQUE                     0.027027
MADEIREIRA                 0.027027
COMPLEXO ADMINISTRATIVO    0.027027
JARDIM ZOOLÓGICO           0.027027
UNIVERSITÁRIOS             0.027027
BAIXADA                    0.027027
PRIMAVERA                  0.027027
MATA VERDE                 0.027027
ZONA RUAL                  0.027027
PESCADORES                 0.027027
HARMONIA                   0.027027
COMPLEXO SANITÁRIO         0.027027
NAVEGANTES                 0.027027
Name: proportion, dtype: float64

-------- ZONA --------
ZONA
S    0.243243
C    0.216216
L    0.216216
O    0.162162
N    0.162162
Name: proportion, dtype: float64

-------- ATIV --------
ATIV
MORADIA         0.486486
SERVIÇOS        0.189189
LAZER           0.108108
EDUCACIONAL     0.027027
TECNOLOGIA      0.027027
COMERCIAL       0.027027
AGRICULTURA     0.027027
SILVICULTURA    0.027027
PETROLÍFERA     0.027027
MINERAÇÃO       0.027027
TURISMO         0.027027
Name: proportion, dtype: float64

In [16]:
# colums 3
df_localidades.ZONA.value_counts(normalize=True, sort=True)

ZONA
S    0.243243
C    0.216216
L    0.216216
O    0.162162
N    0.162162
Name: proportion, dtype: float64

In [17]:
# colums 4
df_localidades.ATIV.value_counts(normalize=True, sort=True)

ATIV
MORADIA         0.486486
SERVIÇOS        0.189189
LAZER           0.108108
EDUCACIONAL     0.027027
TECNOLOGIA      0.027027
COMERCIAL       0.027027
AGRICULTURA     0.027027
SILVICULTURA    0.027027
PETROLÍFERA     0.027027
MINERAÇÃO       0.027027
TURISMO         0.027027
Name: proportion, dtype: float64